.Card {
    display: flex;
    margin-top: 35px;
    background-color: #eee;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.CardContent {
    padding: 15px;
}

.Buttons {
    margin-top: 10px;
    display: flex;
}

.buttonPrimary,
.buttonSecondary {
    width: 100px;
    display: block;
    margin-top: 10px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(30, 168, 2);
    padding: 5px 10px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    font-size: 15px;
}

.buttonSecondary {
    color: #000;
    background-color: white;
    border: 2px solid rgb(30, 168, 2);
}

.Tag {
    border: 2px solid green;
    border-radius: 5px;
    font-size: 14px;
    min-width: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: #1C2A43;
}
/* 
.Tag:not(:first-child) {
} */

.ProjectName {
    color: #1C2A43;
    margin-bottom: 10px;
}

.Description {
    color: #1C2A43;
}

.ProjectImage {
    display: none;
}

@media only screen and (min-width: 768px) {
    .ProjectImage {
        display: block;
        margin-right: 15px;
    }

    .Card {
        min-height: 200px;
    }

    .CardContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* .Tag {
        margin-bottom: 0;
    } */
}